
button {
width: 200px; height: 100px;

}
button:hover {
  background-color: #05009c;
}
body {
  background-color: rgb(1, 0, 40);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
  text-align: center;
}
p, h1, h2, h3, h4, h5 ,h6, em, strong {
  color:rgb(255, 255, 255)
}