
button {
background-color: rgb(2, 0, 62);
width: 100px; height: 50px;
border-radius: 30px;
border: 5px double white;
border-color: rgb(255, 255, 255); /*this is a mess*/
-webkit-transition: all 0.5s; 
-moz-transition: all 0.5s; 
-o-transition: all 0.5s; 
transition: all 0.5s;
}
button:hover {
  background-color: #05009c;
}
body {
  background-color: rgb(31, 4, 107);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
  text-align: center;
}
.center {
  width: 960px;
  height: 780px;
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -480px; 
  margin-top: -390px; 
}